# Ignore everything
*

# But descend into directories
!*/

!*.gitignore
!*.gitattributes
!*.py
!*.ipynb
!*.md
!*.sh
!*.yml
!images/*

# The example data
!projects/test/network_inputs/*
!projects/test/demand_inputs/*

# Ignore
*.ipynb_checkpoints*