# Ignore everything
*

# But descend into directories
!*/

!*.gitignore
!*.py
!*.ipynb
!*.md
!*.sh
!*.yml
!images/*

# The example data
!test/network_inputs/*
!test/demand_inputs/*

# Ignore
*.ipynb_checkpoints*